body {
    background-color: #9c8cd4;
}

button {
    background-color: white;
    border-radius: 25%;
    color: black;
    height: 35px;
    margin: 5px;
    padding: 5px;
    width: 150px;
}

.hover:hover {
    background-color: #ffdf00;
    color: black;
}